<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <!-- 扫描控制器 --> 
    <context:component-scan base-package="cn.main.controller"/>
    
   	<mvc:annotation-driven conversion-service="myConversionService">
   		<mvc:message-converters>
   			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
   				<property name="supportedMediaTypes">
   					<list>
   						<value>application/json;charset=UTF-8</value>
   					</list>
   				</property>
   			</bean>
   			<bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
   				<property name="supportedMediaTypes">
   					<list>
   						<value>text/html;charset=UTF-8</value>
   						<value>application/json</value>
   					</list>
   				</property>
   				<property name="features">
   					<list>
   						<value>WriteDateUseDateFormat</value>
   					</list>
   				</property>
   			</bean>
   		</mvc:message-converters>
   </mvc:annotation-driven>
   <!-- 自定义转换器 -->
   <bean id="myConversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
   		<property name="converters">
   			<list>
   				<bean class="cn.main.utils.StringToDateConverter">
   					<constructor-arg type="java.lang.String" value="yyyy-MM-dd"/>
   				</bean>
   			</list>
   		</property> 
   </bean>
   	<!-- statics -->
   	<mvc:resources location="/statics/" mapping="/statics/**"></mvc:resources>
   	<mvc:resources location="/static/" mapping="/static/**"></mvc:resources>
    <!-- 视图解析器 -->	
    <bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
    	<!-- 根据请求的参数值 default -->
    	<property name="favorParameter" value="true"/>
    	<!-- 没有参数时默认值 -->
    	<property name="defaultContentType" value="text/html"/>
    	<!-- 请求后缀名 -->
    	<property name="mediaTypes">
    		<map>
    			<entry key="html" value="text/html;charset=utf-8"/>
    			<entry key="json" value="application/json;charset=utf-8"/>
    			<entry key="xml" value="application/hxml;charset=utf-8"/>
    		</map>
    	</property>
    	<!-- 视图解析器针对方法返回的逻辑视图名 -->
    	<property name="viewResolvers">
    		<list>
    			<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    				<!-- <property name="prefix" value="/WEB-INF/jsp/"/> -->
    				<property name="prefix" value="/WEB-INF/pre/"/> 
    				<property name="suffix" value=".jsp"/>
    			</bean> 
    		</list>
    	</property> 
    </bean>
    <!-- 拦截器 -->
    <!-- 配置interceptors -->
	  <mvc:interceptors>
	  	<!-- backed拦截 -->
		<mvc:interceptor>
			<mvc:mapping path="/user/**"/> 
			<mvc:mapping path="/shop/**"/> 
			<mvc:mapping path="/good/**"/>  
			<bean class="cn.main.interceptors.interceptor"/>
		</mvc:interceptor>  
		<!-- pre拦截 -->
		<mvc:interceptor>
			 <mvc:mapping path="/pre/nav/**"/>
			 <mvc:mapping path="/pre/buy/**"/>
			 <mvc:mapping path="/pre/shop/**"/>
			 <mvc:mapping path="/pre/love/**"/> 
			 <mvc:mapping path="/pre/cart/**"/>
			 <mvc:mapping path="/pre/history/**"/> 
			<bean class="cn.main.interceptors.PreInterceptor"/>
		</mvc:interceptor> 
		<mvc:interceptor> 
			<mvc:mapping path="/pre/index/**"/>  
			<bean class="cn.main.interceptors.PreInterceptor2"/>
		</mvc:interceptor> 
	</mvc:interceptors>  
    <!-- 配置文件上传  MultipartResolver-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="500000000"/>
		<property name="defaultEncoding" value="UTF-8"/>
	</bean> 
</beans> 