			.footer {
				width: 1300px;
				margin: 30px auto;
				padding: 10px;
				border-top: #666666 solid 0.8px;
				text-align: center;
				color: #666;
				font-size: 12px;
			}
			.footer p{
				margin: 10px;
			}
			.footer img{
				width: 100px;
				margin: 10px 15px;
			}