			.top_nav  *{font-size:13px;}
			.top_nav{width: 100%; min-width: 1200px;text-align: center; }
			.top_nav{background: #F5F5F5;height: 40px;line-height: 38px;} 
			.cate_list{text-align: left;}
			
			.top_nav_list_left,.top_nav_list_right,.top_nav .li{display: inline-block;position: relative;vertical-align: top;}
			.img_li{/* width: 10px;height: 5px; */vertical-align: middle;}
			.top_nav_list_left{width: 500px;}
			.top_nav a{color:#000;text-decoration:none;}
			.top_nav a:hover{color: #FF5000;}
			.top_nav a{padding:0 4px;}
			.top_nav li{list-style: none;}
			.top_nav img,.top_nav span{vertical-align: middle;} */
			.bold{font-weight:bolder ;}
			.orangle{color: #FF5000;}
			.s20{font-size: 20px;}
			
			.top_nav .li{display:inline-block; background:  #F5F5F5;margin:0 15px;}
			.li_menu_li{display: none;}		
			.li:hover .li_menu_li{display: block;}	
			
			
			
			
			 